<div ng-hide="nickSet">
  <input type="text" ng-model="nick"><div class="btn btn-primary" ng-click="setNick()">Set nick</div>
</div>
<div style="width: 100%; height: 100%; position: absolute" ng-show="nickSet">
  <div style="height: 100%; margin-bottom: -3em; overflow-y: scroll; width: 100%">
    <div ng-repeat="msg in messages">
      {{msg.user}}: {{msg.message}}
    </div>
  </div>
  <input type="text" ng-model="message" ng-keypress="checkKey($event)">
  <div class="btn btn-primary" ng-click="send()">Send</div>
</div>
